// Main App Colors
$primary-color: #352969;
$secondary-color: #cf8c3a;
$tertiary-color: #533b5f;

$primary-tint-1: #5d5487;

$primary-shade-1: #383251;

// General Colors
$white: #ffffff;

// Font related styles
$app-font-family: "Exo", sans-serif;
$app-heading-font-family: "Luckiest Guy", cursive;
