@use "../abstracts/variables" as *;

.container {
  width: 62.5rem;
  height: 43.75rem;
  padding: 2rem;
  background-color: $primary-tint-1;
  border-radius: 0.625rem;
  box-shadow: 0 0.625rem 0.5rem rgba($black, 0.1);
}
