@use "../abstracts/variables" as *;

.container {
  width: $container-width;
  height: $container-height;
  background-color: $primary-tint-1;
  border-radius: $border-radius-large;
  box-shadow: $container-box-shadow;

  padding: 1rem;
  position: relative;
  z-index: 1;
}
