@use "../abstracts/index.scss" as *;

.quiz-category {
  @include size(10.9375rem, 9.375rem);
  @include position($position: relative);
  @include flex(center, center);

  flex-direction: column;
  gap: 1.5rem;

  background-color: $tertiary-color;
  border-radius: $border-radius-small;

  cursor: pointer;

  img {
    height: 3.75rem;
  }

  span {
    font-size: 1.25rem;
    font-weight: 500;
  }

  &::after {
    content: "";

    @include size();
    @include position(absolute, 1rem, $left: 1rem);

    border-radius: $border-radius-small;
    background-color: rgba($tertiary-color, 0.5);
    transition: all 0.35s;
    z-index: -1;

    cursor: none;
  }

  &:hover::after {
    top: 0;
    left: 0;
  }
}
