@use "../abstracts/index.scss" as *;

.loser-container {
  @include flex(center, center, $flex-direction: column, $gap: 2.25rem);

  .loser-text {
    font-size: 2.25rem;
    font-weight: bold;
  }

  .thumbs-down-img {
    width: 18.75rem;
  }

  .score-description {
    font-size: 1.875rem;
  }
}
