@use "../abstracts/index.scss" as *;

.winner-container {
  @include flex(center, center, $flex-direction: column, $gap: 2.25rem);

  .winner-text {
    font-size: 2.25rem;
    font-weight: bold;
  }

  .trophy-img {
    width: 25rem;
  }

  .score-description {
    font-size: 1.875rem;
  }
}
